.selected {
    margin: auto 5px;
    background-color: grey;
    color: white;
}

.unSelected {
    margin: auto 5px;
    background-color: beige;
    color: dimgray;
}

.userPhoto {
    height: 60px;
    width: 60px;
    border-radius: 45%;
}