.userPostsBlock {
    grid-area: userpost;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 15px;
    width: 98%;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.userPost img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.userPost .userNamePost {
    font-size: 18px;
    font-weight: normal;
}


