.menu {
    grid-area: menu;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 20px;
    max-height: 400px;
}

.icon {
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

span {
    margin-bottom: 10px;
}

span a {
    color: #888888;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}

.activeLink {
    color: #677e51;
}

span a:hover {
    color: cadetblue;
}


h5 {
    color: #888888;
    margin: 0 0 15px 0;
}
