.leftMenu {
    grid-area: menu;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 20px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.itemLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7px;
}

.iconMenu {
    width: 45px;
    height: 45px;
    /*margin-top: 10px;*/
}

.linkName {
    /*margin-bottom: 10px;*/
}

span a {
    color: #888888;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}

.activeLink {
    color: #677e51;
}

span a:hover {
    color: cadetblue;
}


.boxMenuName {
    color: #888888;
    margin: 0 0 15px 0;
}
